.knapper-div {
  align-items: center;
}


.knapper-oversikt {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  padding: 0px 0px 5px 5px;
  margin: 20px auto;
}


button {
  flex: 1 0 28%;
  min-height: 50px;
  margin-top: 25px;
  margin-right: 50px;
  width: 300px;
  padding: 10px 40px;
  text-align: center;
}

.btn-logg-ut{
    margin-top: 75px;
    margin-bottom: 50px;
}

@media only screen and (max-width: 1000px) {
  button {
    flex: 1 0 100%;
  }
}

@media only screen and (max-width: 500px) {

  .knapper-oversikt {
    width: 75%;
  }
  button {
    flex: 1 0 100%;
  }
}

