<div *ngIf="admin">
  <div class="knapper-oversikt">
    <button class="visKnapper" [routerLink]="['/customer']">Customers</button>
    <button class="visKnapper" [routerLink]="['/postplace']">Post Places</button>
    <button class="visKnapper" [routerLink]="['/order']">Orders</button>
    <button class="visKnapper" [routerLink]="['/boat']">Boats</button>
    <button class="visKnapper" [routerLink]="['/terminal']">Terminals</button>
    <button class="visKnapper" [routerLink]="['/route']">Routes</button>
    <button class="btn-logg-ut" (click)="logOut()">Log out</button>
  </div>
</div>
<div *ngIf="!admin">
  <h2>You havent logged in as admin!</h2>
</div>
