.knapper-oversikt {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
}


button {
  margin: var(--padding-100) var(--padding-150);
}

@media only screen and (max-width: 1000px) {
  .knapper-oversikt {
    width: 90%;
  }

  button {
      font-size: calc(var(--font-size-200) + 2vw);
  }
}

@media only screen and (max-width: 650px) {
  button {
    margin: var(--padding-100) var(--padding-050);
  }

  .knapper-oversikt {
    width: 80%;
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 370px) {
  .knapper-oversikt {
    width: 100%;
  }
}
