<app-nav-menu></app-nav-menu>
<main *ngIf="!admin">
  <div>
    <h1>Log in</h1>
    <form id="login-form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-div">
        <label>Email</label>
        <input class="form-item" formControlName="email" placeholder="Email" />
        <span></span>
        <span class="email-error" [hidden]="form.controls.email.valid || (form.controls.email.pristine)">Not valid email!</span>
      </div>
      <div class="form-div">
        <label>Password</label>
        <input class="form-item" type="password" formControlName="password" placeholder="Password" required />
        <span></span>
        <span class="password-error" [hidden]="form.controls.password.valid || (form.controls.password.pristine)">Not valid password!</span>
      </div>
      <div class="form-div-btn">
        <button type="submit" [disabled]="!form.valid" class="submit-btn">Login</button>
      </div>
    </form>
  </div>
  <div *ngIf="admin" onload="$window.location.href = '/#/admin'; $window.location.reload();">
  </div>
</main>
