h1 {
    text-align: center;
}

#login-form {
    max-width: 25rem;
    margin: calc(10vh + var(--padding-100)) auto;
}

.form-div {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: var(--padding-150);
}

.form-div label {
  color: var(--blue-700);
  font-weight: 500;
  font-size: var(--font-size-500);
  float: left;
}

.form-div input {
  font-size: var(--font-size-500);
  margin-right: 0;
  float: right;
  width: 16rem;
}

.form-div .email-error, .form-div .password-error {
  color: var(--accent-500);
}

.form-div-btn {
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 500px) {
  main {
    text-align: center;
    padding: var(--padding-100);
  }

  .form-div {
    display: grid;
    grid-template-columns: 1fr;
  }
    .form-div input {
      margin: auto;
      width: clamp(5rem, 18rem, calc(100vw - 2rem));
    }
}
