h1 {
    text-align: center;
}

#login-form {
    max-width: 25rem;
    margin: calc(10vh + var(--padding-100)) auto;
}

.form-div {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: var(--padding-150);
  align-items: flex-end;
}

.form-div label {
  float: left;
}

.form-div input {
  font-size: var(--font-size-500);
  margin-right: 0;
  float: right;
}

.form-div .email-error, .form-div .password-error {
  color: var(--accent-500);
}

.form-div-btn {
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 500px) {
  main {
    text-align: center;
    padding: var(--padding-100);
  }

  .form-div {
    display: grid;
    grid-template-columns: 1fr;
    width: clamp(5rem, 18rem, calc(100vw - 2rem));
    margin-left: auto;
    margin-right: auto;
  }

  .form-div:first-of-type {
    margin-bottom: var(--padding-200);
  }
}
