<div>
  <div class="content">
    <h2>Terminal:</h2>
    <button class="btn btn-add" >New terminal</button>
    <table class="table table-terminal">
      <thead>
        <tr>
          <th>Terminal name</th>
          <th>Street</th>
          <th>ZipCode</th>
          <th>City</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let terminal of terminals">
          <td label="Terminal name">{{terminal.terminalName}}</td>
          <td label="Street">{{terminal.street}}</td>
          <td label="ZipCode">{{terminal.zipCode}}</td>
          <td label="City">{{terminal.city}}</td>
          <td><button class="btn btn-endre" [routerLink]="['/editterminal', terminal.id]">Edit</button></td>
          <td><button class="btn btn-slett" (click)="deleteTerminal(terminal.id)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>




