.content {
  width: 90%;
  margin: 0 auto;
}

table {
  margin: var(--padding-200) auto;
}

@media screen and (max-width: 1100px) {
  table {
    border-collapse: separate;
    border-spacing: 0 3rem;
  }

  table thead {
    display: none;
  }

  table td {
    display: flex;
  }
  table tr {
    margin-bottom: 5px;
  }

    table td::before {
      content: attr(label);
      color: var(--blue-700);
      font-weight: bold;
      width: var(--table-h-width);
      min-width: fit-content;
    }

    table td.nullable {
        display: inline-block;
        width: 50%;
    }

    table td.right-content {
      text-align: end;
    }

    table td.nullable::before{
        content: "";
        width: 0;
        min-width: 0;
    }

  .btn-sm {
    width: var(--table-h-width);
  }

}

@media screen and (max-width: 450px) {
  .content {
    width: 100%;
    margin: 0 auto;
  }

  .btn-sm {
    width: 5rem;
  }

  table td {
      position: relative;
      padding: var(--padding-300) 0 var(--padding-100) 0;
  }

    table td::before {
      position: absolute;
      top: var(--padding-100);
    }

    table td.nullable {
      display: block;
      width: 100%;
      position: static;
      padding: .75rem;
      text-align: center;
    }
}
