<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Do you want to delete?</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close('Close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{route}}?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Close')" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" (click)="modal.close('Delete')">Delete</button>
  </div>
</div>

