<app-nav-menu></app-nav-menu>
<main>
  <div class="content">
    <button class="btn-back" routerLink="/admin">Back</button>
    <h1 class="align-bootstrap">Orders</h1>
    <button class="align-bootstrap" [routerLink]="['/saveorder']">New order</button>
    <table class="table table-order">
      <thead>
        <tr>
          <th>Departure</th>
          <th>Arrival</th>
          <th>Customer</th>
          <th>Boat</th>
          <th>Ticket amount</th>
          <th>Total price</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td label="Departure">{{order.departureTerminalName}} <br /> {{order.departureTime}} </td>
          <td label="Arrival">{{order.arrivalTerminalName}} <br /> {{order.arrivalTime}}</td>
          <td label="Customer">{{order.firstname}} {{order.lastname}}</td>
          <td label="Boat">{{order.boatName}}</td>
          <td label="Ticket amount">{{order.ticketAmount}}</td>
          <td label="Total price">kr {{order.totalPrice}},-</td>
          <td class="nullable right-content"><button class="btn-sm" [routerLink]="['/editorder', order.id]">Edit</button></td>
          <td class="nullable"><button class="btn-alt btn-sm" (click)="deleteOrder(order.id)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
