<div>
  <div class="content">
    <h2>Order:</h2>
    <button class="btn btn-add" [routerLink]="['/saveorder']">New order</button>
    <table class="table table-order">
      <thead>
        <tr>
          <th>Departure</th>
          <th>Arrival</th>
          <th>Customer</th>
          <th>Boat</th>
          <th>Ticket Amount</th>
          <th>Total Price</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td label="Departure">{{order.departureTerminalName}} <br /> {{order.departureTime}} </td>
          <td label="Arrival">{{order.arrivalTerminalName}} <br /> {{order.arrivalTime}}</td>
          <td label="Customer">{{order.firstname}} {{order.lastname}}</td>
          <td label="Boat">{{order.boatName}}</td>
          <td label="Ticket Amount">{{order.ticketAmount}}</td>
          <td label="Total Price">{{order.totalPrice}}</td>
          <td><button class="btn btn-endre" [routerLink]="['/editorder', order.id]">Edit</button></td>
          <td><button class="btn btn-slett"  (click)="deleteOrder(order.id)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
