<app-nav-menu></app-nav-menu>
<main class="container">
  <button class="btn-back" routerLink="/postplace">Back</button>
  <h1 class="align-bootstrap">Edit post place</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <input type="hidden" formControlName="id" />
      <div class="form-group col-md-6">
        <label>City</label>
        <input formControlName="city" />
        <p class="alert alert-warning" [hidden]="form.controls.city.valid || (form.controls.city.pristine)">
          City is invalid!
        </p>
      </div>
      <div class="form-group col-md-6 center-content">
        <button type="submit" [disabled]="!form.valid" class="align-bootstrap">Save</button>
      </div>
    </form>
</main>
