<div>
  <div class="content">
    <h2>Postplaces:</h2>
    <button class="btn btn-add" [routerLink]="['/savepostplace']">New postplace</button>
    <table class="table table-postplace">
      <thead>
        <tr>
          <th>ZipCode</th>
          <th>City</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let postplace of postplaces">
          <td label="ZipCode">{{postplace.zipCode}}</td>
          <td label="City">{{postplace.city}}</td>
          <td><button class="btn btn-endre" [routerLink]="['/editpostplace', postplace.zipCode]">Edit</button></td>
          <td><button class="btn btn-slett" (click)="deletePostPlace(postplace.zipCode)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
