<app-nav-menu></app-nav-menu>
<main>
  <div class="content">
    <button class="btn-back" routerLink="/admin">Back</button>
    <h1 class="align-bootstrap">Post places</h1>
    <button class="align-bootstrap" [routerLink]="['/savepostplace']">New post place</button>
    <table class="table table-postplace">
      <thead>
        <tr>
          <th>ZipCode</th>
          <th>City</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let postplace of postplaces">
          <td label="ZipCode">{{postplace.zipCode}}</td>
          <td label="City">{{postplace.city}}</td>
          <td class="nullable right-content"><button class="btn-sm" [routerLink]="['/editpostplace', postplace.zipCode]">Edit</button></td>
          <td class="nullable"><button class="btn-sm btn-alt" (click)="deletePostPlace(postplace.zipCode)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
