html {
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

app-footer{
    margin-top: auto;
}

.content {
  height: fit-content;
}
