<nav class="header">
  <div class="site-logo">
    <a *ngIf="admin" routerLink="/admin"><img class="nav-logo-img" src="../../assets/Logo.png" /></a>
    <a *ngIf="!admin" routerLink="/"><img class="nav-logo-img" src="../../assets/Logo.png" /></a>
  </div>
  <ul class="nav-list">
    <li class="nav-list-item" *ngIf="admin">
      <a class="nav-list-link" routerLink="/admin">Admin</a>
    </li>
    <li class="nav-list-item">
      <a class="nav-list-link" routerLink="/home" *ngIf="!admin">Log in</a>
      <button class="nav-list-link" *ngIf="admin" (click)="logOut()">Log out</button>
    </li>
  </ul>
</nav>
