.header {
  display: flex;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background: var(--blue-700);
  z-index: 10;
  height: var(--nav-height);
}

.site-logo {
  margin: var(--padding-050) var(--padding-200);
  width: auto;
}

.nav-logo-img {
  height: clamp(120px, var(--nav-height), 10vh);
}

.nav-list {
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin: 0;
  margin-right: var(--padding-200);
  grid-gap: var(--padding-200);
  width: 70%;
  text-align: center;
  justify-content: end;
  list-style: none;
  overflow: hidden;
}


.nav-list-item {
  display: flex;
  align-items: center;
  height: var(--nav-item-height);
}

button.nav-list-link {
  all: unset;
}

.nav-list-link, button.nav-list-link {
  color: var(--blue-100);
  text-decoration: none;
  background-image: linear-gradient(var(--blue-100), var(--blue-100));
  background-size: 0% 5px;
  background-position: 0% 105%;
  background-repeat: no-repeat;
  transition: background 0.3s linear;
  font-size: var(--font-size-600);
  font-weight: 600;
  font-family: var(--font-accent);
  cursor: pointer;
}

.nav-list-link:hover, .nav-list-link:focus {
  background-size: 100% 5px;
}



@media only screen and (max-width: 650px) {
  .header {
      height: var(--nav-height-sm);
      position: static;
  }

  .site-logo {
    margin: var(--padding-025) var(--padding-100);
    width: auto;
  }


  .nav-logo-img {
    width: 100%;
    max-width: 50vw;
    height: auto
  }

  .nav-list-link, button.nav-list-link {
    background-size: 0% 3px;
  }

  .nav-list-link:hover, .nav-list-link:focus {
    background-size: 100% 3px;
  }

  .nav-list-link, button.nav-list-link {
      font-size: var(--font-size-350);
  }
 }

@media only screen and (max-width: 370px) {
  .header {
    min-height: var(--nav-height-sm);
    height: fit-content;
    z-index: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .site-logo {
    margin: var(--padding-025) var(--padding-100);
    width: auto;
  }

  .nav-logo-img {
    max-width: 85vw;
  }

  .nav-list {
      width: 100%;
      justify-content: center;
  }

  .nav-list-link, button.nav-list-link {
    font-size: var(--font-size-350);
  }
}
