<app-nav-menu></app-nav-menu>
<main class="container">
  <button class="btn-back" routerLink="/boat">Back</button>
  <h1 class="align-bootstrap">New Boat</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <input formControlName="id" type="hidden" />
    <div class="form-group inline-blk col-md-6">
      <label>Boat name</label>
      <input formControlName="boatName" placeholder="Fjordboat" />
      <p class="alert alert-warning" [hidden]="form.controls.boatName.valid || (form.controls.boatName.pristine)">
        Boat name is invalid!
      </p>
    </div>
    <div class="form-group inline-blk col-md-3">
      <label>Capacity</label>
      <input type="number" formControlName="capacity" />
      <p class="alert alert-warning" [hidden]="form.controls.capacity.valid || (form.controls.capacity.pristine)">
        Capacity is invalid!
      </p>
    </div>
    <div class="form-group inline-blk col-md-3">
      <label>Ticket price</label>
      <input type="number" formControlName="ticketPrice" />
      <p class="alert alert-warning" [hidden]="form.controls.ticketPrice.valid || (form.controls.ticketPrice.pristine)">
        Ticket price is invalid!
      </p>
    </div>
    <div class="form-group center-content">
      <button type="submit" [disabled]="!form.valid" class="align-bootstrap">Save</button>
    </div>
  </form>
</main>
