<div class="container">
  <div class="col-md-4">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <input class="form-control" formControlName="id" type="hidden" />

      <!--Route-->
      <div class="form-group">
        <label>Departure Time</label>
        <input class="form-control" type="number" formControlName="departureTime" />
        <p class="alert alert-warning" [hidden]="form.controls.departureTime.valid || (form.controls.departureTime.pristine)">
          Departure time isnt valid!
        </p>
      </div>
      <div class="form-group">
        <label>Arrival Time</label>
        <input class="form-control" type="number" formControlName="arrivalTime" />
        <p class="alert alert-warning" [hidden]="form.controls.arrivalTime.valid || (form.controls.arrivalTime.pristine)">
          Arrival time isnt valid!
        </p>
      </div>
      <div class="form-group">
        <label>Ticket left</label>
        <input class="form-control" type="number" formControlName="ticketsLeft" />
        <p class="alert alert-warning" [hidden]="form.controls.ticketsLeft.valid || (form.controls.ticketsLeft.pristine)">
          Ticket left isnt valid!
        </p>
      </div>

      <!--Submit-->
      <div class="form-group">
        <button type="submit" [disabled]="!form.valid" class="btn btn-primary">Edit</button>
        <button class="btn btn-default" routerLink="/route">Back</button>
      </div>
    </form>
  </div>
</div>
