<app-nav-menu></app-nav-menu>
<main>
  <div class="content">
    <button class="btn-back" routerLink="/admin">Back</button>
    <h1 class="align-bootstrap">Routes</h1>
    <button class="align-bootstrap" [routerLink]="['/saveroute']">New route</button>
    <table class="table table-route">
      <thead>
        <tr>
          <th>Departure</th>
          <th>Arrival</th>
          <th>Tickets left</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let route of routes">
          <td label="Departure">{{route.departureTerminalName}} <br />{{route.departureTime}}</td>
          <td label="Arrival">{{route.arrivalTerminalName}}<br />{{route.arrivalTime}}</td>
          <td label="Tickets left">{{route.ticketsLeft}}</td>
          <td class="nullable right-content"><button class="btn-sm" [routerLink]="['/editroute', route.id]">Edit</button></td>
          <td class="nullable"><button class="btn-sm btn-alt" (click)="deleteRoute(route.id)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</main>



