<div class="container">
  <div class="col-md-4">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <!--Route-->
      <div class="form-group">
        <label>Departure Time</label>
        <input class="form-control" formControlName="departuretime" />
        <p class="alert alert-warning" [hidden]="form.controls.departuretime.valid || (form.controls.departuretime.pristine)">
          Departure time isnt valid!
        </p>
      </div>
      <div class="form-group">
        <label>Arrival Time</label>
        <input class="form-control" formControlName="arrivaltime" />
        <p class="alert alert-warning" [hidden]="form.controls.arrivaltime.valid || (form.controls.arrivaltime.pristine)">
          Arrival time isnt valid!
        </p>
      </div>
      <div class="form-group">
        <label>Ticket left</label>
        <input class="form-control" type="number" formControlName="ticketsleft" />
        <p class="alert alert-warning" [hidden]="form.controls.ticketsleft.valid || (form.controls.ticketsleft.pristine)">
          Ticket left isnt valid!
        </p>
      </div>

      <!--Terminals-->
      <div class="form-group">
        <label>Arrival Terminal Name</label>
        <input class="form-control" formControlName="arrivalTerminalName" />
        <p class="alert alert-warning" [hidden]="form.controls.arrivalTerminalName.valid || (form.controls.arrivalTerminalName.pristine)">
          Arrival terminal isnt valid!
        </p>
      </div>
      <div class="form-group">
        <label>Arrival Terminal City</label>
        <input class="form-control" formControlName="arrivalTerminalCity" />
        <p class="alert alert-warning" [hidden]="form.controls.arrivalTerminalCity.valid || (form.controls.arrivalTerminalCity.pristine)">
          Arrival terminal city isnt valid!
        </p>
      </div>
      <div class="form-group">
        <label>Arrival Terminal Zipcode</label>
        <input class="form-control" formControlName="arrivalTerminalZipCode" />
        <p class="alert alert-warning" [hidden]="form.controls.arrivalTerminalZipCode.valid || (form.controls.arrivalTerminalZipCode.pristine)">
          Arrival terminal zipcode isnt valid!
        </p>
      </div>
      <div class="form-group">
        <label>Arrival Terminal Street</label>
        <input class="form-control" formControlName="arrivalTerminalStreet" />
        <p class="alert alert-warning" [hidden]="form.controls.arrivalTerminalStreet.valid || (form.controls.arrivalTerminalStreet.pristine)">
          Arrival terminal street isnt valid!
        </p>
      </div>

      <div class="form-group">
        <label>Departure Terminal Name</label>
        <input class="form-control" formControlName="departureTerminalName" />
        <p class="alert alert-warning" [hidden]="form.controls.departureTerminalName.valid || (form.controls.departureTerminalName.pristine)">
          Departure terminal isnt valid!
        </p>
      </div>
      <div class="form-group">
        <label>Departure Terminal City</label>
        <input class="form-control" formControlName="departureTerminalCity" />
        <p class="alert alert-warning" [hidden]="form.controls.departureTerminalCity.valid || (form.controls.departureTerminalCity.pristine)">
          Departure terminal city isnt valid!
        </p>
      </div>
      <div class="form-group">
        <label>Departure Terminal Zipcode</label>
        <input class="form-control" formControlName="departureTerminalZipCode" />
        <p class="alert alert-warning" [hidden]="form.controls.departureTerminalZipCode.valid || (form.controls.departureTerminalZipCode.pristine)">
          Departure terminal zipcode isnt valid!
        </p>
      </div>
      <div class="form-group">
        <label>Departure Terminal Street</label>
        <input class="form-control" formControlName="departureTerminalStreet" />
        <p class="alert alert-warning" [hidden]="form.controls.departureTerminalStreet.valid || (form.controls.departureTerminalStreet.pristine)">
          Departure terminal street isnt valid!
        </p>
      </div>

      <!--Boat-->
      <div class="form-group">
        <label>Boat name</label>
        <input class="form-control" formControlName="boatName" />
        <p class="alert alert-warning" [hidden]="form.controls.boatName.valid || (form.controls.boatName.pristine)">
          Boat name isnt valid!
        </p>
      </div>
      <div class="form-group">
        <label>Boat capacity</label>
        <input class="form-control" type="number" formControlName="capacity" />
        <p class="alert alert-warning" [hidden]="form.controls.capacity.valid || (form.controls.capacity.pristine)">
          Boat capacity isnt valid!
        </p>
      </div>
      <div class="form-group">
        <label>Boat ticket price</label>
        <input class="form-control" type="number" formControlName="ticketPrice" />
        <p class="alert alert-warning" [hidden]="form.controls.ticketPrice.valid || (form.controls.ticketPrice.pristine)">
          Boat ticket price isnt valid!
        </p>
      </div>



      <!--Submit-->
      <div class="form-group">
        <button type="submit" [disabled]="!form.valid" class="btn btn-primary">Save</button>
        <button class="btn btn-default" routerLink="/boat">Back</button>
      </div>
    </form>
  </div>
</div>
